@import "../../../assets/styles-variables";

:host {
  position: fixed;
  width: 300px;
  background-color: $sidebar_bg;
  padding-top: 20px;
  min-height: 100vh;
  color: $sidebar_color;
}

ul {
  list-style-type: none;
}

.nav {
  a {
    color: $sidebar_color;
  }
}

.sidebar-heading {
  position: absolute;
  bottom: 20px;
}
